body {
   font-family: 'Sen', sans-serif;
   background-color: #fafafa;
   padding: 0;
   }

/*---------------------------------------------Navbar-------*/

.navbar {
   position: fixed;
   z-index: 1;
   width: 100%;
}


/*---------------------------------------------Background---------*/


/*---------------------------------------------Text------*/

.hero-image h1 {
   position: relative;
   top: 33%;
   text-align: center;
   color: #333;
   font-family: 'Sen', sans-serif;
   font-weight: 700;
   font-size: 3em;
}

a {
   color: #000;
}

th, td {
   padding-right: 1rem;
}

/*-----------------------------------------Map-------*/

#map {
   height: 400px;
   width: 80%;
}

.map-wrapper {
   padding-top: 20px;
   padding-bottom: 20px;
}

.hotel-search {
   padding-bottom: 10px;
}

/*------------------------------------Images----------*/

.hero-image {
   background-image: url(../hero-image.jpg);
   height: 100vh;
   width: 100%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
   position: relative;
}

.downArrow {
   position: absolute;
   bottom: 10px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
   font-size: 2rem;
}

.city-image {
   background-image: url(../marrakesh.jpg);
   height: 650px;
   width: 90%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
   padding-right: 5%;
}

.beach-image {
   background-image: url(../beach.jpg);
   height: 650px;
   width: 90%;
   padding-left: 5%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
}

.hero-wrapper {
   padding-bottom: 25px;
}