body {
   font-family: 'Roboto', sans-serif;
   background-color: #fafafa;
   padding: 0;
   }
/*---------------------------------------------Text------*/

h1 {
   padding-top: 150px;
   text-align: center;
   color: #333;
   font-family: 'Sen', sans-serif;
   font-weight: 700;
   font-size: 3em;
}

p {
   padding: 0 5%;
}

h6, h4 {
   padding: 0 5%;
}

th {
   padding-right: 5px;
}

a {
   color: black;
   text-decoration: none;
}

/*-----------------------------------------Map-------*/

#map {
   height: 400px;
   width: 100%;
}

.map-wrapper {
   padding-top: 20px;
   padding-bottom: 20px;
}

/*------------------------------------Images----------*/

.hero-image {
   background-image: url(../hero-image.jpg);
   height: 500px;
   width: 100%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
}

.city-image {
   background-image: url(../marrakesh.jpg);
   height: 600px;
   width: 90%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
}

.beach-image {
   background-image: url(../beach.jpg);
   height: 600px;
   width: 90%;
   background-repeat: none;
   background-position: center;
   background-size: cover;
}

.hero-wrapper {
   padding-bottom: 25px;
}